// 공통으로 사용하는 @mixin


// Background 이미지 (true : 가상선택자 사용, false : 단순 bg)
@mixin background($pseudo:false, $display:inline-block, $margin:null, $img:$page, $pos:null, $bsize:null){
    @if $pseudo == true{
        display:$display; margin:$margin; vertical-align:middle; content:"";
        background:'url(../../img/' + $img + '.png)' $pos no-repeat;
        background-size:$bsize;
        @content;
    }
    
    @else if $pseudo == false{
        background:'url(../../img/' + $img + '.png)' $pos no-repeat;
        @content;
    }
}

// ClearFix
@mixin clearfix{
    display:block; clear:both; content:"";
}

// Test Ellipsis
@mixin text-ellipsis{
    overflow:hidden; text-overflow:ellipsis; white-space:nowrap;
}
@mixin text-line-ellipsis($line){
    display:-webkit-box; overflow:hidden; text-overflow:ellipsis; -webkit-line-clamp:$line; -webkit-box-orient:vertical; word-wrap:break-word;
}

// Background Gradient
@mixin bg-gradient($direct, $color1, $color2){
    background:-webkit-linear-gradient($direct, $color1, $color2);
    background:-moz-linear-gradient($direct, $color1, $color2);
    background:-ms-linear-gradient($direct, $color1, $color2);
    background:linear-gradient($direct, $color1, $color2);
}