/* Reset CSS */
body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Nanum Gothic",Dotum,arial,sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #212121;
  -webkit-text-size-adjust: none;
}

dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote {
  margin: 0;
  padding: 0;
}

th, td, input, textarea, select {
  font-size: 12px;
  color: #212121;
  font-family: "Nanum Gothic",Dotum,arial,sans-serif;
}

th, td {
  padding: 0;
  word-break: break-all;
  word-wrap: break-word;
}

table {
  border-spacing: 0;
  border: 0;
  table-layout: fixed;
}

address, cite, code, dfn, var {
  font-style: normal;
  font-weight: normal;
}

em {
  font-style: normal;
}

ol, ul {
  list-style: none;
}

abbr, acronym {
  border: 0;
}

hr {
  clear: both;
  display: none;
}

legend, caption {
  visibility: hidden;
  overflow: hidden;
  line-height: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

img, fieldset {
  border: 0 none;
}

label {
  cursor: pointer;
}

a {
  color: #212121;
  text-decoration: none;
}

.hidden_obj {
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  height: 0;
  line-height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  font: 0/0 Arial;
}

input, img {
  vertical-align: middle;
}

pre {
  font-family: "Nanum Gothic",Dotum,arial,sans-serif;
  margin: 0;
}

button {
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: "Nanum Gothic",Dotum,arial,sans-serif;
}

textarea {
  resize: none;
}

input[disabled=disabled] {
  background-color: #eee;
}

/* html5 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* skip navigation */
.skip_nav a {
  position: absolute;
  top: -20px;
  left: 0px;
  border: 1px solid #dad0d0;
  background: #f9f9f9;
  height: 20px;
  line-height: 20px;
  font-size: 13px;
}

.skip_nav a:focus {
  top: 0px;
}

/* hide text */
.hide {
  position: absolute;
  visibility: hidden;
  text-indent: -9999px;
}

/*-------------------------------------
[P] KLeague
--------------------------------------*/
.klg_wrp {
  position: relative;
  padding-right: 300px;
}

.tmp_glr {
  overflow: hidden;
}

.tmp_glr.t01 li:first-child {
  width: 50%;
}

.tmp_glr.t01 li:first-child .thmb:after {
  display: none;
}

.tmp_glr.t01 li:first-child .inf {
  padding: 25px 15px;
  background: linear-gradient(240deg, #fd2882, #3b013d);
}

.tmp_glr li {
  float: left;
  padding: 0 4px;
  width: 25%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tmp_glr li a {
  display: block;
}

.tmp_glr li a:hover .thmb:after {
  left: 0;
  right: 0;
}

.tmp_glr .thmb {
  position: relative;
  padding-top: 66.667%;
}

.tmp_glr .thmb img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  content: "";
}

.tmp_glr .thmb:after {
  position: absolute;
  bottom: -4px;
  left: 18px;
  right: 18px;
  height: 4px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  content: "";
  background: -webkit-gradient(linear, left top, right top, from(#ff2883), to(#973cfe));
  background: linear-gradient(90deg, #ff2883, #973cfe);
}

.tmp_glr .inf {
  padding: 15px 10px;
}

.tmp_glr .cmt {
  display: block;
  color: #e90052;
}

.tmp_glr .txt {
  margin-top: 6px;
  line-height: 22px;
  height: 44px;
  font-size: 17px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

.klg_ag {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
  background: #e90052;
}

.klg_ag_tt {
  background: #37003c;
  height: 52px;
  line-height: 52px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.klg_hg {
  position: relative;
  padding: 6px 120px 6px 110px;
  background: #25b7aa;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.klg_hg.is_fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 300px;
  padding: 0 0 0 120px;
  z-index: 100;
}

.klg_hg h1 {
  position: absolute;
  top: 5px;
  left: 20px;
}

.klg_hg nav {
  font-size: 13px;
}

.klg_hg nav ul {
  overflow: hidden;
}

.klg_hg nav li {
  float: left;
}

.klg_hg nav li a {
  display: block;
  padding: 0 27px;
  height: 52px;
  line-height: 52px;
  color: #fff;
  font-weight: bold;
  -webkit-transition: 0.3s color;
  transition: 0.3s color;
}

.klg_hg nav li a:hover {
  color: #37003c;
}

.klg_hg_sd {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  font-size: 0;
}

.klg_hg_sd a {
  display: inline-block;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  width: 52px;
  height: 100%;
  font-size: 12px;
}

.klg_cg {
  background: #ebebeb;
}

.klg_sg {
  position: relative;
  margin: 40px 0;
  padding: 26px;
  background: #fff;
}

.klg_sg .bt_mr {
  position: absolute;
  top: 40px;
  right: 30px;
  font-size: 14px;
  font-weight: bold;
}

.klg_sg .bt_mr:after {
  display: inline-block;
  margin: -2px 0 0 3px;
  border: solid #777;
  border-width: 1px 1px 0 0;
  width: 5px;
  height: 5px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  content: "";
  vertical-align: middle;
}

.klg_tt {
  margin-bottom: 24px;
  font-size: 26px;
}

.klg_bn {
  padding: 26px;
}

.klg_bn .lnk {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.klg_bn .lnk > * {
  display: table-cell;
  vertical-align: middle;
}

.klg_bn .lnk:hover .thmb img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.klg_bn .thmb {
  overflow: hidden;
}

.klg_bn .thmb img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.klg_bn .inf {
  padding: 15px;
  background: #00285e;
  width: 35%;
}

.klg_bn .bdg {
  color: #72e9ff;
  font-size: 14px;
}

.klg_bn .dsc {
  margin-top: 10px;
  line-height: 1.3;
  color: #fff;
  font-size: 20px;
}

.klg_brd {
  position: relative;
  padding: 26px 0 26px 330px;
  background: #fff;
  height: 410px;
}

.klg_rnk {
  position: absolute;
  top: 26px;
  left: 26px;
  border-radius: 10px;
  background: #fff;
  width: 270px;
  height: 410px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.klg_rnk:hover {
  height: auto;
  z-index: 1;
}

.klg_rnk table {
  width: 100%;
}

.klg_rnk th, .klg_rnk td {
  padding: 4px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.klg_rnk thead th {
  background: #fbfbfb;
  height: 30px;
  color: #777;
}

.klg_rnk tbody th, .klg_rnk tbody td {
  border-bottom: 1px solid #efefef;
  height: 38px;
}

.klg_rnk tbody th:after {
  display: inline-block;
  margin-left: 5px;
  border-radius: 50%;
  background: #999;
  width: 4px;
  height: 4px;
  content: "";
  vertical-align: middle;
}

.klg_rnk tbody th.pos_up:after, .klg_rnk tbody th.pos_down:after {
  margin: -2px -3px 0 5px;
  border-radius: 0;
  background: none;
  width: 0;
  height: 0;
  border-style: solid;
}

.klg_rnk tbody th.pos_up:after {
  border-width: 0 3.5px 5px 3.5px;
  border-color: transparent transparent #13cf00 transparent;
}

.klg_rnk tbody th.pos_down:after {
  border-width: 5px 3.5px 0 3.5px;
  border-color: #e90052 transparent transparent transparent;
}

.klg_rnk .lft {
  text-align: left;
}

.klg_scr_gr h3 {
  font-size: 16px;
}

.klg_scr_gr li {
  border-top: 1px solid #efefef;
}

.klg_scr_gr li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 52px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.klg_scr_gr .club {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.klg_scr_gr .home {
  width: 40%;
  text-align: right;
}

.klg_scr_gr time {
  margin: 0 5px;
  border: 1px solid #ddd;
  width: 50px;
  height: 25px;
  line-height: 25px;
  text-align: center;
}

.klg_scr_gr .place {
  width: 40%;
}
