/* Reset CSS */
body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Nanum Gothic",Dotum,arial,sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #212121;
  -webkit-text-size-adjust: none;
}

dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote {
  margin: 0;
  padding: 0;
}

th, td, input, textarea, select {
  font-size: 12px;
  color: #212121;
  font-family: "Nanum Gothic",Dotum,arial,sans-serif;
}

th, td {
  padding: 0;
  word-break: break-all;
  word-wrap: break-word;
}

table {
  border-spacing: 0;
  border: 0;
  table-layout: fixed;
}

address, cite, code, dfn, var {
  font-style: normal;
  font-weight: normal;
}

em {
  font-style: normal;
}

ol, ul {
  list-style: none;
}

abbr, acronym {
  border: 0;
}

hr {
  clear: both;
  display: none;
}

legend, caption {
  visibility: hidden;
  overflow: hidden;
  line-height: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

img, fieldset {
  border: 0 none;
}

label {
  cursor: pointer;
}

a {
  color: #212121;
  text-decoration: none;
}

.hidden_obj {
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  height: 0;
  line-height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  font: 0/0 Arial;
}

input, img {
  vertical-align: middle;
}

pre {
  font-family: "Nanum Gothic",Dotum,arial,sans-serif;
  margin: 0;
}

button {
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: "Nanum Gothic",Dotum,arial,sans-serif;
}

textarea {
  resize: none;
}

input[disabled=disabled] {
  background-color: #eee;
}

/* html5 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* skip navigation */
.skip_nav a {
  position: absolute;
  top: -20px;
  left: 0px;
  border: 1px solid #dad0d0;
  background: #f9f9f9;
  height: 20px;
  line-height: 20px;
  font-size: 13px;
}

.skip_nav a:focus {
  top: 0px;
}

/* hide text */
.hide {
  position: absolute;
  visibility: hidden;
  text-indent: -9999px;
}

/*-------------------------------------
[P] EPL
--------------------------------------*/
.epl_wrp {
  position: relative;
  padding-right: 300px;
}

.epl_ag {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
}

.epl_hg {
  position: relative;
  background: #37003c;
}

.epl_hg.is_fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 300px;
}

.epl_hg h1 {
  position: absolute;
}

.epl_hg nav {
  font-size: 13px;
}

.epl_hg nav ul {
  overflow: hidden;
}

.epl_hg nav li {
  float: left;
}

.epl_hg nav li a {
  display: block;
  padding: 0 27px;
  height: 52px;
  line-height: 52px;
  color: #fff;
}

.epl_hg_sd {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  font-size: 0;
}

.epl_hg_sd a {
  display: inline-block;
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  width: 52px;
  height: 52px;
}

.epl_cg {
  border-top: 8px solid #ebebeb;
  padding: 26px;
}

.epl_sg {
  position: relative;
  margin: 40px 0;
}

.epl_sg .bt_mr {
  position: absolute;
  font-size: 14px;
  font-weight: bold;
}

.epl_sg .bt_mr:after {
  display: inline-block;
  margin: -2px 0 0 3px;
  border: solid #888;
  border-width: 1px 1px 0 0;
  width: 5px;
  height: 5px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  content: "";
  vertical-align: middle;
}

.epl_tt {
  margin-bottom: 24px;
  font-size: 26px;
}

.epl_mn {
  position: relative;
  padding-left: 300px;
  height: 410px;
}

.epl_rnk {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  width: 270px;
  height: 410px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.epl_rnk:hover {
  height: auto;
  z-index: 1;
}

.epl_rnk table {
  width: 100%;
}

.epl_rnk th, .epl_rnk td {
  padding: 4px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.epl_rnk thead th {
  background: #fbfbfb;
  height: 30px;
  color: #777;
}

.epl_rnk tbody th, .epl_rnk tbody td {
  border-bottom: 1px solid #efefef;
  height: 38px;
}

.epl_rnk tbody th:after {
  display: inline-block;
  margin-left: 5px;
  border-radius: 50%;
  background: #999;
  width: 4px;
  height: 4px;
  content: "";
  vertical-align: middle;
}

.epl_rnk tbody th.pos_up:after, .epl_rnk tbody th.pos_down:after {
  margin: -2px -3px 0 5px;
  border-radius: 0;
  background: none;
  width: 0;
  height: 0;
  border-style: solid;
}

.epl_rnk tbody th.pos_up:after {
  border-width: 0 3.5px 5px 3.5px;
  border-color: transparent transparent #13cf00 transparent;
}

.epl_rnk tbody th.pos_down:after {
  border-width: 5px 3.5px 0 3.5px;
  border-color: #e90052 transparent transparent transparent;
}

.epl_rnk .lft {
  text-align: left;
}
