@charset "UTF-8";
/* Reset CSS */
body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Nanum Gothic",Dotum,arial,sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #212121;
  -webkit-text-size-adjust: none;
}

dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote {
  margin: 0;
  padding: 0;
}

th, td, input, textarea, select {
  font-size: 12px;
  color: #212121;
  font-family: "Nanum Gothic",Dotum,arial,sans-serif;
}

th, td {
  padding: 0;
  word-break: break-all;
  word-wrap: break-word;
}

table {
  border-spacing: 0;
  border: 0;
  table-layout: fixed;
}

address, cite, code, dfn, var {
  font-style: normal;
  font-weight: normal;
}

em {
  font-style: normal;
}

ol, ul {
  list-style: none;
}

abbr, acronym {
  border: 0;
}

hr {
  clear: both;
  display: none;
}

legend, caption {
  visibility: hidden;
  overflow: hidden;
  line-height: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

img, fieldset {
  border: 0 none;
}

label {
  cursor: pointer;
}

a {
  color: #212121;
  text-decoration: none;
  cursor: pointer;
}

input, img {
  vertical-align: middle;
}

pre {
  font-family: "Nanum Gothic",Dotum,arial,sans-serif;
  margin: 0;
}

button {
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: "Nanum Gothic",Dotum,arial,sans-serif;
}

textarea {
  resize: none;
}

input[disabled=disabled] {
  background-color: #eee;
}

/* html5 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* skip navigation */
.skip_nav a {
  position: absolute;
  top: -20px;
  left: 0px;
  border: 1px solid #dad0d0;
  background: #f9f9f9;
  height: 20px;
  line-height: 20px;
  font-size: 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.skip_nav a:focus {
  top: 0px;
  z-index: 9999;
}

/* hide text */
.hide {
  position: absolute;
  visibility: hidden;
  text-indent: -9999px;
}

/* scroll fix */
.scroll_fix {
  height: 100%;
  overflow: hidden;
}

.scroll_fix body {
  height: 100%;
  overflow: hidden;
}

/* Layout */
.main_wrp {
  font-family: sans-serif;
  -webkit-overflow-scrolling: touch;
}

.main_mn {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip: rect(0 auto auto 0);
  z-index: 10;
}

.main_mn_fx {
  position: fixed;
  top: 28px;
  left: 0;
  right: 0;
  font-weight: bold;
}

.main_mn_inr {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1120px;
}

.main_mn_inr:after {
  display: block;
  clear: both;
  content: "";
}

.main_mn_lg {
  border-radius: 5px;
  padding: 0 10px;
  background: #fff;
  color: #fff;
  font-size: 3em;
}

.main_mn_bt {
  float: right;
  margin-top: 15px;
  color: inherit;
  font-size: 1.5em;
}

.main_inr {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1120px;
}

.main_sg {
  position: relative;
  height: 100vh;
}

.main_sg .main_inr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main_sg .dtl {
  position: relative;
  margin: 68px 0;
  vertical-align: bottom;
  z-index: 10;
  overflow: hidden;
}

.main_sg .dtl a {
  color: inherit;
}

.main_sg .lnk {
  display: block;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  -webkit-transform: translateY(-36px);
          transform: translateY(-36px);
}

.main_sg .lnk:hover {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.main_sg .lnk:hover .sub:before {
  width: 40px;
}

.main_sg .lnk:hover .see_mr:before {
  opacity: 1;
}

.main_sg .lnk:hover .see_mr:after {
  width: 20px;
}

.main_sg .sub {
  display: block;
  position: relative;
  margin-bottom: 12px;
  height: 24px;
  line-height: 24px;
  font-size: 1.5em;
  font-weight: 600;
}

.main_sg .sub:before {
  display: inline-block;
  margin-right: 10px;
  background: #fff;
  width: 0;
  height: 1px;
  content: "";
  -webkit-transition: 0.7s all;
  transition: 0.7s all;
  vertical-align: middle;
}

.main_sg .tt {
  line-height: 1.2;
  font-size: 5.33em;
  letter-spacing: -1px;
}

.main_sg .dsc {
  margin-top: 20px;
  line-height: 1.4;
  font-size: 1.5em;
  font-weight: 600;
}

.main_sg .dsc + .dsc {
  margin-top: 5px;
}

.main_sg .see_mr {
  display: inline-block;
  position: relative;
  margin-top: 25px;
  padding-right: 35px;
  font-size: 1.5em;
  font-weight: bold;
}

.main_sg .see_mr:before {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  margin-top: -2px;
  border-style: solid;
  border-width: 1px 1px 0 0;
  border-color: #fff;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  opacity: 0;
}

.main_sg .see_mr:after {
  position: absolute;
  content: "";
  top: 50%;
  right: 0;
  margin-top: 1px;
  background: #fff;
  width: 0;
  height: 1px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.main_sg.t_main {
  background: #5214ff;
  color: #fc589f;
}

.main_sg.t_main .main_inr {
  background: url("../img/main/bg_main.png") 100% 100% no-repeat;
  background-size: 50%;
}

.main_sg.t_main .main_mn_lg {
  background: #fc589f;
  color: #5214ff;
}

.main_sg.t_main .tt {
  font-size: 11.67em;
  letter-spacing: -3px;
}

.main_sg.t_main .dsc {
  margin-top: 15px;
}

.main_sg.t_intro {
  background: #9f79fa;
  color: #fff;
}

.main_sg.t_intro:after {
  display: inline-block;
  vertical-align: middle;
  content: "";
  background: url("../img/main/bg_intro.png") 100% 50% no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-attachment: fixed;
}

.main_sg.t_intro .main_mn_lg {
  color: #9f79fa;
}

.main_sg.t_project {
  background: #ffbc42;
  color: #5214ff;
}

.main_sg.t_project .main_inr {
  background: url("../img/main/bg_spread01.png") 100% 100% no-repeat;
  background-size: 50%;
}

.main_sg.t_project .main_mn_lg {
  color: #ffbc42;
}

.main_sg.t_project .main_mn_lg,
.main_sg.t_project .sub:before,
.main_sg.t_project .see_mr:after {
  background: #5214ff;
}

.main_sg.t_project .see_mr:before {
  border-color: #5214ff;
}

.main_sg.t_portfolio {
  background: #40296d;
  color: #fff;
}

.main_sg.t_portfolio:after {
  display: inline-block;
  vertical-align: middle;
  content: "";
  background: url("../img/main/bg_work.png") 100% 50% no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-attachment: fixed;
}

.main_sg.t_portfolio .main_mn_lg {
  color: #40296d;
}

.main_sg.t_blog {
  background: #ff3a49;
  color: #1b1363;
}

.main_sg.t_blog .main_inr {
  background: url("../img/main/bg_spread02.png") 100% 100% no-repeat;
  background-size: 50%;
}

.main_sg.t_blog .main_mn_lg {
  color: #ff3a49;
}

.main_sg.t_blog .main_mn_lg,
.main_sg.t_blog .sub:before,
.main_sg.t_blog .see_mr:after {
  background: #1b1363;
}

.main_sg.t_blog .see_mr:before {
  border-color: #1b1363;
}

.main_sg.t_contact {
  background: #fdabd1;
  color: #fff;
}

.main_sg.t_contact:after {
  display: inline-block;
  vertical-align: middle;
  content: "";
  background: url("../img/main/bg_contact.png") 100% 50% no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-attachment: fixed;
}

.main_sg.t_contact .main_mn_lg {
  color: #fdabd1;
}

.main_sd {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
  text-align: center;
}

.main_sd_inr {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.main_sd_tt {
  color: #fff;
  font-size: 14vh;
}

.main_sd_mn {
  display: inline-block;
  margin-top: 5vh;
  text-align: left;
  font-size: 7vh;
}

.main_sd_mn li {
  margin: 2vh 0;
}

.main_sd_mn a {
  display: inline-block;
  color: #fff;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.main_sd_mn a:before {
  display: inline-block;
  margin-right: 20px;
  background: #fff;
  width: 5px;
  height: 5px;
  vertical-align: middle;
  content: "";
  -webkit-transition: 1s all;
  transition: 1s all;
}

.main_sd_mn a:hover {
  color: #ff3a49;
}

.main_sd_mn a:hover:before {
  background: #ff3a49;
}

.main_sd .bt_clse {
  position: absolute;
  top: 30px;
  right: 80px;
  font-size: 0;
}

.main_sd .bt_clse:after {
  display: block;
  color: #fff;
  font-size: 10vh;
  content: "×";
}

.main_fg {
  padding: 28px 0;
  background: #141221;
  overflow: hidden;
}

.main_fg .main_inr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_fg_lg {
  display: inline-block;
  border-radius: 5px;
  padding: 0 10px;
  background: rgba(255, 255, 255, 0.3);
  height: 48px;
  line-height: 48px;
  color: #141221;
  font-size: 3em;
}

.main_fg_inf {
  float: right;
}

.main_fg_inf .dsc {
  color: #999;
}

/* Edge */
@supports (-ms-ime-align: auto) {
  html {
    height: 100%;
    overflow: hidden;
  }
  body {
    position: relative;
    height: 100%;
    overflow: auto;
  }
}

/*Ie 10/11*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  html {
    height: 100%;
    overflow: hidden;
  }
  body {
    height: 100%;
    overflow: auto;
  }
}

/* Media Query */
@media screen and (max-width: 640px) {
  .main_sg.t_intro:after, .main_sg.t_portfolio:after, .main_sg.t_contact:after {
    background-attachment: initial;
    background-size: 170%;
  }
  .main_inr {
    padding: 0 20px;
  }
  .main_sg.t_main .tt {
    font-size: 9.5em;
  }
  .main_sd .bt_clse {
    right: 30px;
  }
}

@media screen and (max-width: 640px) and (min-width: 321px) {
  body {
    font-size: 11px;
  }
}

@media screen and (max-width: 320px) {
  body {
    font-size: 10px;
  }
  .main_sg .dtl {
    margin: 40px 0;
  }
}
