/*-------------------------------------
[P] never
--------------------------------------*/
.nvr_wrp {
  min-width: 1080px;
}

.nvr_wrp[data-type=layout01] .nvr_bnr.t_main {
  width: 100%;
  height: 175px;
}

.nvr_wrp[data-type=layout01] .nvr_bnr.t_sd01 {
  float: right;
  margin: 0;
  width: 400px;
  height: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nvr_wrp[data-type=layout01] .nvr_bnr.t_sd02 {
  display: none;
}

.nvr_wrp[data-type=layout01] .nvr_lgn {
  width: 274px;
  height: 246px;
}

.nvr_wrp[data-type=layout01] .nvr_lgn_inf .mn li {
  display: block;
}

.nvr_wrp[data-type=layout01] .nvr_lgn_inf .mn a {
  height: 26px;
  line-height: 26px;
}

.nvr_wrp[data-type=layout01] .nvr_news {
  width: 800px;
  overflow: hidden;
  height: 246px;
}

.nvr_wrp[data-type=layout01] .nvr_news_hd {
  float: left;
  width: 170px;
  height: 100%;
}

.nvr_wrp[data-type=layout01] .nvr_news_hd h3 {
  float: none;
}

.nvr_wrp[data-type=layout01] .nvr_news_hd .slide_news {
  display: none;
}

.nvr_wrp[data-type=layout01] .nvr_news_hd .sd_mn {
  float: none;
  margin-top: 24px;
}

.nvr_wrp[data-type=layout01] .nvr_news_hd .sd_mn li {
  float: none;
  margin: 8px 0 0 0;
}

.nvr_wrp[data-type=layout01] .nvr_news_dtl {
  float: right;
  margin-top: 0;
  width: calc(100% - 179px);
}

.nvr_wrp[data-type=layout01] .nvr_sd {
  width: 658px;
}

.nvr_wrp[data-type=layout01] .nvr_util {
  float: left;
  width: 250px;
  height: 300px;
}

.nvr_wrp[data-type=layout01] .nvr_util_dtl {
  padding: 23px 16px 30px;
}

.nvr_wrp[data-type=layout01] .nvr_util_dtl .lst li {
  float: none;
  width: auto;
}

.nvr_wrp[data-type=layout01] .nvr_util_dtl .bt_lnk {
  top: auto;
  bottom: 0;
}

.nvr_wrp[data-type=layout01] .nvr_clmn {
  width: 414px;
  height: 300px;
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.nvr_wrp[data-type=layout01] .nvr_clmn ul {
  padding-top: 0;
}

.nvr_wrp[data-type=layout01] .nvr_clmn li {
  float: none;
  margin-top: 38px;
  width: auto;
}

.nvr_wrp[data-type=layout01] .nvr_cast {
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
}

.nvr_wrp[data-type=layout01] .nvr_shp {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}

.nvr_wrp[data-type=layout02] .nvr_shp {
  width: 100%;
  height: auto;
  -webkit-box-ordinal-group: 10;
      -ms-flex-order: 9;
          order: 9;
}

.nvr_wrp[data-type=layout02] .nvr_shp_dtl .lst {
  float: left;
  border-bottom: 0;
  padding-top: 45px;
  width: 660px;
}

.nvr_wrp[data-type=layout02] .nvr_shp_dtl .lst li {
  width: 20%;
}

.nvr_wrp[data-type=layout02] .nvr_shp_dtl .lst li:last-child {
  display: block !important;
}

.nvr_wrp[data-type=layout02] .nvr_shp_dtl .add_inf {
  float: right;
}

.nvr_wrp[data-type=layout02] .nvr_cast {
  width: 100%;
  height: auto;
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
}

.nvr_wrp[data-type=layout02] .nvr_cast_dtl .sbj {
  width: 251px;
  height: 231px;
}

.nvr_wrp[data-type=layout02] .nvr_cast_dtl .lst li {
  height: 250px;
}

.nvr_wrp[data-type=layout02] .nvr_cast_dtl .lst li:first-child {
  margin-left: 265px;
}

.nvr_wrp[data-type=layout02] .nvr_cast_dtl .lst .thmb {
  height: 163px;
}

.nvr_inr {
  position: relative;
  margin: 0 auto;
  width: 1080px;
}

.nvr_bt_turn {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  font-size: 0;
}

.nvr_bt_turn button {
  position: relative;
  border-left: 1px solid #ebeef3;
  width: 44px;
  height: 100%;
  outline: none;
  text-indent: -9999px;
}

.nvr_bt_turn button:after {
  display: inline-block;
  border: solid #555;
  border-width: 1px 1px 0 0;
  width: 9px;
  height: 9px;
  vertical-align: middle;
  content: "";
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 50%;
}

.nvr_bt_turn button:hover:after {
  border-color: #00bc53;
}

.nvr_bt_turn .bt_prv:after {
  margin: -6px 0 0 -1px;
  border-width: 0 0 1px 1px;
}

.nvr_bt_turn .bt_nxt:after {
  margin: -6px 0 0 -8px;
}

.nvr_hg {
  position: relative;
  border-bottom: 1px solid #d1d8e4;
}

.nvr_hg_cg {
  border-bottom: 1px solid #f1f3f6;
  padding-bottom: 55px;
  font-size: 0;
}

.nvr_hg_cg .nvr_inr {
  padding-top: 65px;
}

.nvr_hg_cg .nvr_inr:after {
  display: block;
  clear: both;
  content: "";
}

.nvr_hg_mn .nvr_inr:after {
  display: block;
  clear: both;
  content: "";
}

.nvr_hg .sd_area {
  position: absolute;
  top: 15px;
  right: 0;
}

.nvr_hg .bt_fav {
  display: inline-block;
  color: #888;
  font-size: 11px;
  vertical-align: middle;
}

.nvr_hg .bt_fav:after {
  display: inline-block;
  margin: -2px 0 0 3px;
  border: solid #888;
  border-width: 1px 1px 0 0;
  width: 3px;
  height: 3px;
  vertical-align: middle;
  content: "";
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nvr_hg .bt_fav:hover {
  text-decoration: underline;
}

.nvr_hg .mr_lnk {
  display: inline-block;
  margin-left: 10px;
  border-left: 1px solid #ebeef3;
  overflow: hidden;
  vertical-align: middle;
}

.nvr_hg .mr_lnk li {
  float: left;
  margin-left: 8px;
}

.nvr_hg .mr_lnk .jnr a {
  background-position: 0 -52px;
  width: 58px;
}

.nvr_hg .mr_lnk .hpy a {
  background-position: -61px -52px;
  width: 34px;
}

.nvr_hg .mr_lnk a {
  display: block;
  height: 11px;
  background: url("../img/never/img_nvr.png") no-repeat;
}

.nvr_hg .mr_lnk a:hover {
  background-position-y: -64px;
}

.nvr_hg .logo {
  float: left;
  margin-top: -8px;
}

.nvr_hg .logo img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.nvr_hg .sch_bx {
  float: left;
  margin-left: 20px;
}

.nvr_hg .sch_bx fieldset {
  position: relative;
  border: 2px solid #03cf5d;
  padding-right: 47px;
  width: 521px;
  height: 49px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nvr_hg .sch_bx input {
  display: block;
  border: 0;
  padding: 0 15px;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  font-weight: bold;
  outline: none;
}

.nvr_hg .sch_bx .bt_crn {
  text-indent: -9999px;
}

.nvr_hg .sch_bx .bt_sch {
  position: absolute;
  top: 0;
  right: 0;
  background: #03cf5d;
  width: 47px;
  height: 100%;
  text-indent: -9999px;
  outline: none;
}

.nvr_hg .sch_bx .bt_sch:before {
  display: inline-block;
  margin: -11px 0 0 -9px;
  width: 21px;
  height: 21px;
  vertical-align: middle;
  content: "";
  background: url("../img/never/ic_nvr.png") 0 -16px no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
}

.nvr_hg .hot {
  position: relative;
  float: right;
}

.nvr_hg .hot:after {
  display: inline-block;
  margin: -6px 0 0;
  border: solid #555;
  border-width: 0 2px 2px 0;
  width: 8px;
  height: 8px;
  vertical-align: middle;
  content: "";
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 4px;
  z-index: -1;
}

.nvr_hg .hot_inr {
  width: 200px;
  height: 46px;
  line-height: 46px;
  overflow: hidden;
}

.nvr_hg .hot_kwd a {
  display: block;
  padding-right: 20px;
  font-size: 13px;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nvr_hg .hot_kwd a:hover {
  text-decoration: underline;
}

.nvr_hg .hot_kwd em {
  display: inline-block;
  margin-right: 8px;
  width: 18px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.nvr_hg .hot_kwd.slide em {
  color: #00ab33;
}

.ly_hot {
  position: absolute;
}

.nvr_nv {
  float: left;
  font-size: 0;
}

.nvr_nv:after {
  display: block;
  clear: both;
  content: "";
}

.nvr_nv_svc {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.nvr_nv_svc:after {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -7px;
  width: 1px;
  height: 14px;
  background: #ebeef3;
  content: "";
}

.nvr_nv_svc li {
  float: left;
  margin-right: 14px;
  height: 46px;
  line-height: 46px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: -1px;
  font-family: sans-serif;
}

.nvr_nv_svc .msvc a {
  color: #00bc53;
}

.nvr_nv_bt {
  display: inline-block;
  position: relative;
  margin-left: 16px;
  height: 46px;
  line-height: 46px;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  font-family: sans-serif;
  letter-spacing: -1px;
  vertical-align: middle;
}

.nvr_nv_bt:after {
  display: inline-block;
  margin: -6px 0 0 6px;
  border: solid #333;
  border-width: 0 1px 1px 0;
  width: 6px;
  height: 6px;
  vertical-align: middle;
  content: "";
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nvr_cg {
  padding: 4px 0;
  background: #f2f4f7;
}

.nvr_cg .nvr_inr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nvr_cg .nvr_inr > section:not(.nvr_bnr) {
  margin: 4px 0;
  border: 1px solid #dee3eb;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.nvr_fix_bt {
  position: fixed;
  bottom: 30px;
  left: 30px;
  z-index: 99;
}

.nvr_fix_bt .inf {
  position: absolute;
  top: -50%;
  left: 50%;
  margin-left: -70px;
  border-radius: 10px;
  padding: 15px;
  background: #e6e6e6;
  width: 110px;
  text-align: center;
  -webkit-animation: moving 0.5s alternate infinite;
          animation: moving 0.5s alternate infinite;
}

.nvr_fix_bt .inf:after {
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5px 0 5px;
  color: #666;
  border-color: #e6e6e6 transparent transparent transparent;
  content: "";
}

@-webkit-keyframes moving {
  from {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moving {
  from {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.nvr_fix_bt button {
  display: block;
  margin: 10px 0;
  border-radius: 5px;
  padding: 6px 12px;
  background: #fff;
  width: 100%;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  letter-spacing: -0.5px;
}

.nvr_fix_bt button:hover {
  background: #888;
  color: #fff;
}

.nvr_fix_bt button.is_on {
  background: #00bc53;
  color: #fff;
}

.nvr_bnr {
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  text-align: center;
}

.nvr_bnr img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.nvr_bnr_lnk {
  display: block;
  position: relative;
  height: 100%;
}

.nvr_bnr_lnk:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  content: "";
}

.nvr_bnr_lnk:after {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.nvr_bnr.t_main {
  margin: 4px 0;
  background: #fff;
  width: 740px;
  height: 120px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.nvr_bnr.t_sd01 {
  margin-top: 8px;
  background: #ffecac;
  height: 150px;
}

.nvr_bnr.t_sd02 {
  margin: 4px 0;
  width: 332px;
  height: 130px;
  -webkit-box-ordinal-group: 9;
      -ms-flex-order: 8;
          order: 8;
}

.nvr_lgn {
  width: 332px;
  height: 120px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.nvr_lgn_inf .inf {
  position: relative;
  padding: 10px 16px 12px 14px;
  height: 81px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0;
}

.nvr_lgn_inf .prf {
  display: inline-block;
  position: relative;
  width: 58px;
  height: 58px;
  vertical-align: middle;
}

.nvr_lgn_inf .prf:after {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  content: "";
  background: url("../img/never/ic_nvr.png") -22px -16px no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
}

.nvr_lgn_inf .prf:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 1px solid #eee;
  content: "";
}

.nvr_lgn_inf .prf img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.nvr_lgn_inf .dtl {
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  font-size: 12px;
}

.nvr_lgn_inf .dtl_my .nm {
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
}

.nvr_lgn_inf .dtl_my .nm:hover {
  text-decoration: underline;
}

.nvr_lgn_inf .dtl_my .edt {
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
  text-decoration: underline;
  color: #777;
}

.nvr_lgn_inf .dtl_now {
  margin-top: 8px;
}

.nvr_lgn_inf .dtl_now a {
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
}

.nvr_lgn_inf .dtl_now a:hover {
  text-decoration: underline;
}

.nvr_lgn_inf .dtl_now strong {
  color: #00ab33;
}

.nvr_lgn_inf .bt_lgout {
  position: absolute;
  bottom: 13px;
  right: 13px;
  border: 1px solid #e5e8ef;
  padding: 0 5px;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
}

.nvr_lgn_inf .mn {
  display: table;
  width: 100%;
  table-layout: fixed;
  overflow: hidden;
  text-align: center;
}

.nvr_lgn_inf .mn li {
  display: table-cell;
  border: solid #ebeef3;
  border-width: 1px 0 0 1px;
  background: #fafafa;
}

.nvr_lgn_inf .mn li:first-child {
  border-left: 0;
}

.nvr_lgn_inf .mn li:hover {
  background: #f3f4f3;
}

.nvr_lgn_inf .mn a {
  display: block;
  height: 36px;
  line-height: 36px;
}

.nvr_news {
  border: none !important;
  background: none !important;
  width: 740px;
  height: 300px;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.nvr_news_hd {
  border: 1px solid #dee3eb;
  padding: 15px 8px 0 15px;
  background: #fff;
  height: 46px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.nvr_news_hd .slide_news {
  position: relative;
  float: left;
  width: 340px;
  height: 18px;
  line-height: 18px;
  overflow: hidden;
}

.nvr_news_hd .slide_news ul {
  position: absolute;
  overflow: hidden;
}

.nvr_news_hd .sd_mn {
  float: right;
}

.nvr_news_hd .sd_mn li {
  float: left;
  margin: 0 7px;
  font-size: 13px;
}

.nvr_news_hd .sd_mn a {
  color: #666;
  font-weight: bold;
}

.nvr_news_hd .sd_mn a:hover {
  color: #000;
}

.nvr_news_hd .sd_mn .hm a {
  color: #00bc53;
}

.nvr_news_hd .sd_mn .hm a:hover {
  color: #0b9500;
}

.nvr_news_dtl {
  margin-top: 8px;
  border: 1px solid #dee3eb;
  background: #fff;
  height: 244px;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.nvr_news_dtl .mn {
  position: relative;
  border-bottom: 1px solid #ebeef3;
  padding: 15px 8px 0 15px;
  height: 44px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nvr_news_dtl .ctg {
  float: left;
  font-size: 13px;
}

.nvr_news_dtl .ctg li {
  position: relative;
  float: left;
  margin-right: 28px;
}

.nvr_news_dtl .ctg li.is_on a {
  color: #000;
}

.nvr_news_dtl .ctg li a {
  color: #666;
  font-weight: bold;
}

.nvr_news_dtl .ctg li a:hover {
  color: #000;
}

.nvr_news_dtl .ctg li + li:before {
  position: absolute;
  left: -14px;
  top: 0;
  background: #ebeef3;
  width: 1px;
  height: 15px;
  content: "";
}

.nvr_news_dtl .lst {
  margin: -1px 0 0 -1px;
  overflow: hidden;
  text-align: center;
}

.nvr_news_dtl .lst li {
  float: left;
  border: solid #ebeef3;
  border-width: 1px 0 0 1px;
  width: 16.66%;
  height: 67px;
  line-height: 67px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nvr_news_dtl .lst a {
  display: block;
}

.nvr_news h3 {
  float: left;
  margin-right: 12px;
  font-size: 13px;
  letter-spacing: -0.5px;
}

.nvr_news h3:after {
  display: inline-block;
  margin: -2px 0 0 4px;
  border: solid #222;
  border-width: 1px 1px 0 0;
  width: 5px;
  height: 5px;
  vertical-align: middle;
  content: "";
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nvr_sd {
  margin: 4px 0;
  width: 332px;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.nvr_util {
  border: 1px solid #dee3eb;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 142px;
}

.nvr_util_hd {
  border-bottom: 1px solid #ebeef3;
  padding: 0 15px;
  height: 34px;
  line-height: 34px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nvr_util_hd .sbj {
  font-size: 0;
}

.nvr_util_hd .date {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  letter-spacing: -1px;
}

.nvr_util_hd h3 {
  display: inline-block;
  color: #888;
  vertical-align: middle;
  font-size: 12px;
  font-weight: normal;
}

.nvr_util_hd h3:before {
  display: inline-block;
  margin: -2px 6px 0;
  background: #e3e7ee;
  width: 1px;
  height: 13px;
  content: "";
  vertical-align: middle;
}

.nvr_util_dtl {
  position: relative;
  padding: 23px 95px 0 16px;
}

.nvr_util_dtl .tt {
  display: block;
  color: #2565d0;
  font-weight: bold;
  letter-spacing: -1px;
}

.nvr_util_dtl .lst {
  overflow: hidden;
}

.nvr_util_dtl .lst li {
  position: relative;
  float: left;
  margin-top: 10px;
  padding-left: 6px;
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nvr_util_dtl .lst li:before {
  position: absolute;
  top: 4px;
  left: 0;
  background: #bdbdbd;
  width: 2px;
  height: 2px;
  vertical-align: middle;
  content: "";
}

.nvr_util_dtl a:hover {
  text-decoration: underline;
}

.nvr_util_dtl .bt_lnk {
  position: absolute;
  top: 17px;
  right: 17px;
  width: 74px;
  height: 74px;
  text-indent: -9999px;
  background: url("../img/never/img_mask.png") no-repeat;
}

.nvr_cast {
  width: 740px;
  height: 884px;
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.nvr_cast_mn {
  position: relative;
  border-bottom: 1px solid #ebeef3;
  height: 44px;
}

.nvr_cast_mn .bt_ctg {
  position: relative;
  float: left;
  border-right: 1px solid #ebeef3;
  width: 44px;
  height: 100%;
  text-indent: -9999px;
}

.nvr_cast_mn .bt_ctg:before {
  display: inline-block;
  margin: -7px 0 0 -9px;
  width: 18px;
  height: 14px;
  vertical-align: middle;
  content: "";
  background: url("../img/never/ic_nvr.png") 0 0 no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
}

.nvr_cast_mn .ctg {
  overflow: hidden;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: -1px;
}

.nvr_cast_mn .ctg li {
  float: left;
  margin: 0 5px;
}

.nvr_cast_mn .ctg li:first-child {
  margin-left: 12px;
}

.nvr_cast_mn .ctg li.is_on a {
  border-bottom: 3px solid #00bc53;
  color: #00bc53;
}

.nvr_cast_mn .ctg a {
  display: block;
  padding: 0 6px;
  height: 44px;
  line-height: 44px;
  color: #666;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nvr_cast_mn .ctg a:hover {
  color: #000;
}

.nvr_cast_mn:after {
  display: block;
  clear: both;
  content: "";
}

.nvr_cast_dtl {
  position: relative;
  padding: 18px 16px 0;
}

.nvr_cast_dtl.t_music .sbj {
  background-image: url("../img/never/bg_cast_music.png");
}

.nvr_cast_dtl .sbj {
  position: absolute;
  top: 18px;
  left: 16px;
  padding: 23px 8px 0 18px;
  background: #15c24d;
  background-size: cover;
  background-position: 50% 0;
  background-color: #07b956;
  width: 166px;
  height: 185px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nvr_cast_dtl .sbj h3 {
  position: relative;
  padding-bottom: 17px;
  color: #fff;
  font-size: 20px;
  letter-spacing: -1px;
}

.nvr_cast_dtl .sbj h3:after {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.4);
  width: 13px;
  height: 2px;
  content: "";
}

.nvr_cast_dtl .sbj ul {
  margin: 8px -3px 0;
  overflow: hidden;
}

.nvr_cast_dtl .sbj li {
  float: left;
  margin-top: 8px;
  padding: 0 3px;
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nvr_cast_dtl .sbj li a {
  color: #fff;
}

.nvr_cast_dtl .sbj li a:hover {
  text-decoration: underline;
}

.nvr_cast_dtl .lst {
  margin-right: -14px;
  overflow: hidden;
}

.nvr_cast_dtl .lst li {
  float: left;
  padding: 0 14px 19px 0;
  width: 25%;
  height: 205px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nvr_cast_dtl .lst li:first-child {
  margin-left: 180px;
}

.nvr_cast_dtl .lst a {
  display: block;
}

.nvr_cast_dtl .lst a:hover .thmb img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.nvr_cast_dtl .lst a:hover .txt {
  text-decoration: underline;
}

.nvr_cast_dtl .lst .thmb {
  position: relative;
  height: 108px;
  overflow: hidden;
}

.nvr_cast_dtl .lst .thmb:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  content: "";
}

.nvr_cast_dtl .lst .thmb img {
  width: 100%;
  height: auto;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.nvr_cast_dtl .lst .flg_vd {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 24px;
  height: 24px;
  text-indent: -9999px;
}

.nvr_cast_dtl .lst .flg_vd:before {
  display: inline-block;
  width: 8px;
  height: 11px;
  vertical-align: middle;
  content: "";
  background: url("../img/never/ic_nvr.png") -51px 0 no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -4px;
}

.nvr_cast_dtl .lst .txt {
  padding-top: 7px;
  line-height: 18px;
  height: 36px;
  overflow: hidden;
  font-weight: bold;
}

.nvr_cast_dtl .lst .etc {
  margin-top: 6px;
  font-size: 0;
}

.nvr_cast_dtl .lst .etc em {
  display: inline-block;
  position: relative;
  color: #888;
  font-size: 12px;
}

.nvr_cast_dtl .lst .etc em + em {
  padding-left: 14px;
}

.nvr_cast_dtl .lst .etc em + em:before {
  position: absolute;
  top: 1px;
  left: 7px;
  background: #e3e7ee;
  width: 1px;
  height: 11px;
  content: "";
}

.nvr_shp {
  width: 332px;
  height: 884px;
  overflow: hidden;
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}

.nvr_shp_mn {
  border-bottom: 1px solid #ebeef3;
  padding: 15px 16px 0;
  height: 44px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nvr_shp_mn h2 {
  font-size: 14px;
}

.nvr_shp_dtl {
  padding-top: 10px;
}

.nvr_shp_dtl .ctg {
  border-bottom: 1px solid #ebeef3;
  margin: 0 16px;
  padding-bottom: 12px;
  overflow: hidden;
}

.nvr_shp_dtl .ctg li {
  position: relative;
  float: left;
  margin: 4px 0 0 18px;
}

.nvr_shp_dtl .ctg li:before {
  position: absolute;
  left: -10px;
  top: 50%;
  margin-top: -1px;
  background: #cdcdcd;
  width: 2px;
  height: 2px;
  content: "";
}

.nvr_shp_dtl .ctg .no_dot {
  margin-left: 0;
}

.nvr_shp_dtl .ctg .no_dot:before {
  display: none;
}

.nvr_shp_dtl .ctg a:hover {
  text-decoration: underline;
}

.nvr_shp_dtl .lst {
  border-bottom: 1px solid #ebeef3;
  padding: 15px 16px 0;
}

.nvr_shp_dtl .itm_glr {
  text-align: center;
  overflow: hidden;
}

.nvr_shp_dtl .itm_glr li {
  float: left;
  padding: 15px 0 12px;
  width: 33.3%;
}

.nvr_shp_dtl .itm_glr a:hover .thmb img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.nvr_shp_dtl .itm_glr a:hover .txt {
  text-decoration: underline;
}

.nvr_shp_dtl .itm_glr .thmb {
  margin: 0 auto;
  width: 92px;
  overflow: hidden;
}

.nvr_shp_dtl .itm_glr .thmb img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.nvr_shp_dtl .itm_glr .txt {
  padding: 4px 4px 0;
  line-height: 17px;
  height: 34px;
  overflow: hidden;
  word-break: break-word;
}

.nvr_shp_dtl .bnr_glr {
  margin-top: 16px;
}

.nvr_shp_dtl .bnr_glr li {
  margin-top: 8px;
  border: 1px solid #ececec;
  background: #fff;
}

.nvr_shp_dtl .bnr_glr a {
  display: block;
  padding: 10px;
  overflow: hidden;
}

.nvr_shp_dtl .bnr_glr a:hover {
  text-decoration: underline;
}

.nvr_shp_dtl .bnr_glr a:hover .thmb img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.nvr_shp_dtl .bnr_glr .thmb {
  position: relative;
  float: left;
  margin-right: 17px;
  width: 116px;
  height: 64px;
  overflow: hidden;
}

.nvr_shp_dtl .bnr_glr .thmb img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.nvr_shp_dtl .bnr_glr .thmb:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: rgba(0, 0, 0, 0.1);
  content: "";
}

.nvr_shp_dtl .bnr_glr .dtl {
  padding-top: 3px;
  overflow: hidden;
}

.nvr_shp_dtl .bnr_glr .txt {
  line-height: 18px;
  height: 36px;
  overflow: hidden;
}

.nvr_shp_dtl .bnr_glr .shop {
  display: block;
  margin-top: 10px;
  color: #7b97c5;
}

.nvr_shp_dtl .add_inf {
  padding: 20px 16px 0;
}

.nvr_shp_dtl .add_inf.t_bnr {
  background: #f9fafc;
  height: 341px;
}

.nvr_shp_dtl .add_inf h4:before {
  display: inline-block;
  margin: -3px 6px 0 0;
  background: #9891e5;
  width: 3px;
  height: 12px;
  vertical-align: middle;
  content: "";
}

.nvr_shp_dtl .add_inf .cmt {
  margin-top: 10px;
  color: #888;
  font-size: 11px;
}

.nvr_clmn {
  width: 740px;
  height: 130px;
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
}

.nvr_clmn ul {
  padding: 20px 0 0 16px;
  overflow: hidden;
}

.nvr_clmn li {
  float: left;
  width: 50%;
  overflow: hidden;
}

.nvr_clmn li a:hover .tt,
.nvr_clmn li a:hover .dsc {
  text-decoration: underline;
}

.nvr_clmn .thmb {
  float: left;
  margin-right: 14px;
  width: 166px;
  height: 88px;
  background: #666;
}

.nvr_clmn .dtl {
  padding: 6px 28px 0 0;
  overflow: hidden;
}

.nvr_clmn .sbj {
  display: block;
  color: #00ab33;
}

.nvr_clmn .tt {
  display: block;
  margin-top: 6px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nvr_clmn .dsc {
  margin-top: 6px;
  height: 32px;
  line-height: 16px;
  overflow: hidden;
}

.nvr_fg {
  border-top: 1px solid #dee3eb;
}

.nvr_fg_ntc {
  border-bottom: 1px solid #f1f3f6;
  padding-top: 16px;
  height: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.nvr_fg_ntc h2 {
  display: inline-block;
  font-size: 13px;
}

.nvr_fg_ntc h2 a:hover {
  text-decoration: underline;
}

.nvr_fg_ntc .bt_svc {
  float: right;
  font-size: 13px;
  font-weight: bold;
}

.nvr_fg_ntc .bt_svc:after {
  display: inline-block;
  margin: -2px 0 0 3px;
  border: solid #333;
  border-width: 1px 1px 0 0;
  width: 5px;
  height: 5px;
  vertical-align: middle;
  content: "";
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nvr_fg_ntc .bt_svc:hover {
  text-decoration: underline;
}

.nvr_fg_svc {
  border-bottom: 1px solid #f1f3f6;
  padding: 24px 0;
  overflow: hidden;
}

.nvr_fg_svc .ctg {
  float: left;
}

.nvr_fg_svc .grp {
  margin-top: 10px;
  overflow: hidden;
}

.nvr_fg_svc .grp:first-child {
  margin-top: 0;
}

.nvr_fg_svc .grp h3 {
  float: left;
  margin-right: 5px;
  min-width: 85px;
  font-size: 12px;
  vertical-align: middle;
  word-break: break-word;
}

.nvr_fg_svc .grp ul {
  overflow: hidden;
  vertical-align: middle;
}

.nvr_fg_svc .grp li {
  position: relative;
  float: left;
  padding: 0 15px;
}

.nvr_fg_svc .grp li + li:before {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -6px;
  background: #e8e9ec;
  width: 1px;
  height: 11px;
  content: "";
}

.nvr_fg_svc .grp li a {
  color: #888;
}

.nvr_fg_svc .grp li a:hover {
  text-decoration: underline;
}

.nvr_fg_svc .sd {
  float: right;
}

.nvr_fg_svc .sd_ls {
  position: relative;
  float: left;
  border-left: 1px solid #f1f3f6;
  padding: 0 50px 0 24px;
  width: 165px;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nvr_fg_svc .sd_ls + .sd_ls {
  margin-left: 20px;
}

.nvr_fg_svc .sd .t_whale .bt {
  background-position: 0 0;
}

.nvr_fg_svc .sd .t_project .bt {
  background-position: -52px 0;
}

.nvr_fg_svc .sd .tt {
  display: block;
}

.nvr_fg_svc .sd .lnk {
  display: block;
  margin-top: 8px;
  color: #888;
}

.nvr_fg_svc .sd .lnk:hover {
  text-decoration: underline;
}

.nvr_fg_svc .sd .bt {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
  background: url("../img/never/img_nvr.png") no-repeat;
}

.nvr_fg_mn {
  padding: 25px 0 115px;
  overflow: hidden;
}

.nvr_fg_mn .lst {
  float: left;
  overflow: hidden;
}

.nvr_fg_mn .lst li {
  position: relative;
  float: left;
  padding: 0 15px;
}

.nvr_fg_mn .lst li:first-child {
  padding-left: 0;
}

.nvr_fg_mn .lst li:first-child:before {
  display: none;
}

.nvr_fg_mn .lst li:before {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -6px;
  background: #e8e9ec;
  width: 1px;
  height: 11px;
  content: "";
}

.nvr_fg_mn .lst a {
  color: #888;
}

.nvr_fg_mn .lst a:hover {
  text-decoration: underline;
}

.nvr_fg_mn .corp {
  float: left;
  color: #444;
}

.nvr_fg_mn .corp a:hover {
  text-decoration: underline;
}
