/* Reset CSS */
body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Nanum Gothic",Dotum,arial,sans-serif;
  font-weight: normal;
  font-size: 12px;
  color: #212121;
  -webkit-text-size-adjust: none;
}

dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote {
  margin: 0;
  padding: 0;
}

th, td, input, textarea, select {
  font-size: 12px;
  color: #212121;
  font-family: "Nanum Gothic",Dotum,arial,sans-serif;
}

th, td {
  padding: 0;
  word-break: break-all;
  word-wrap: break-word;
}

table {
  border-spacing: 0;
  border: 0;
  table-layout: fixed;
}

address, cite, code, dfn, var {
  font-style: normal;
  font-weight: normal;
}

em {
  font-style: normal;
}

ol, ul {
  list-style: none;
}

abbr, acronym {
  border: 0;
}

hr {
  clear: both;
  display: none;
}

legend, caption {
  visibility: hidden;
  overflow: hidden;
  line-height: 0;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

img, fieldset {
  border: 0 none;
}

label {
  cursor: pointer;
}

a {
  color: #212121;
  text-decoration: none;
}

.hidden_obj {
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  height: 0;
  line-height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  font: 0/0 Arial;
}

input, img {
  vertical-align: middle;
}

pre {
  font-family: "Nanum Gothic",Dotum,arial,sans-serif;
  margin: 0;
}

button {
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: "Nanum Gothic",Dotum,arial,sans-serif;
}

textarea {
  resize: none;
}

input[disabled=disabled] {
  background-color: #eee;
}

/* html5 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* skip navigation */
.skip_nav a {
  position: absolute;
  top: -20px;
  left: 0px;
  border: 1px solid #dad0d0;
  background: #f9f9f9;
  height: 20px;
  line-height: 20px;
  font-size: 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.skip_nav a:focus {
  top: 0px;
}

/* hide text */
.hide {
  position: absolute;
  visibility: hidden;
  text-indent: -9999px;
}

/*-------------------------------------
[P] Tvn
--------------------------------------*/
.main_inr {
  margin: 0 auto;
  width: 1200px;
}

.main_hg {
  border-bottom: 1px solid #e5e5e5;
}

.main_hg_mn {
  overflow: hidden;
  line-height: 40px;
}

.main_hg_mn .tving {
  display: inline-block;
}

.main_hg_mn .mn {
  float: right;
}

.main_hg_mn .mn li {
  float: left;
  margin-left: 14px;
}

.main_hg_mn .mn li a {
  display: block;
  color: #a3a3a3;
  letter-spacing: -0.5px;
}

.main_hg h1 {
  text-align: center;
}

.main_hg_nv {
  margin-top: 19px;
  font-size: 16px;
  overflow: hidden;
}

.main_hg_nv .nv_lst {
  float: left;
  margin-left: -16px;
  overflow: hidden;
}

.main_hg_nv .nv_lst li {
  float: left;
}

.main_hg_nv .nv_lst .is_on a:after {
  position: absolute;
  bottom: 0;
  left: 14px;
  right: 14px;
  background: #fc0000;
  height: 3px;
  content: "";
}

.main_hg_nv .nv_lst a {
  display: block;
  position: relative;
  padding: 0 16px;
  line-height: 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: -0.3px;
  color: #000;
}

.main_hg_nv .nv_sd {
  float: right;
  margin-top: 15px;
  font-size: 0;
}

.main_hg_nv .nv_sd a {
  display: inline-block;
  margin-left: 11px;
  vertical-align: middle;
}

.main_hg_nv .nv_sd .bt_air {
  margin-left: 26px;
  padding: 0 12px;
  background: #e32323;
  line-height: 25px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
}

.main_bn {
  margin: 10px 0;
  height: 490px;
}

.main_tdy {
  margin: 10px 0;
}

.main_tdy h2 {
  float: left;
}
