@charset "UTF-8";
/* Slider */
.slick-slider {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-list {
  display: block;
  position: relative;
  overflow: hidden;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-track {
  display: block;
  position: relative;
  left: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  border: 1px solid transparent;
  height: auto;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("../img/ajax-loader.gif") center center no-repeat;
}

/* Arrows */
.slick-prev,
.slick-next {
  display: block;
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-indent: -9999px;
  cursor: pointer;
  z-index: 100;
  outline: none;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

/* Dots */
.slick-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.slick-dots li {
  display: inline-block;
  position: relative;
  margin: 0 5px;
  width: 10px;
  height: 10px;
}

.slick-dots li button {
  display: block;
  border-radius: 50%;
  background: #888;
  width: 100%;
  height: 100%;
  outline: none;
  text-indent: -9999px;
}

.slick-dots .slick-active button {
  background: #fff;
}

/*-------------------------------------
[P] Tvn
--------------------------------------*/
.tvn_wrp {
  min-width: 1200px;
}

.ly_inr {
  position: relative;
}

.tvn_inr {
  margin: 0 auto;
  width: 1200px;
}

.tvn_hg {
  position: relative;
  padding-bottom: 75px;
}

.tvn_hg:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e5e5e5;
  height: 1px;
  content: "";
  z-index: 102;
}

.tvn_hg_mn {
  overflow: hidden;
  line-height: 40px;
}

.tvn_hg_mn .tving {
  display: inline-block;
}

.tvn_hg_mn .mn {
  float: right;
}

.tvn_hg_mn .mn li {
  float: left;
  margin-left: 14px;
}

.tvn_hg_mn .mn li a {
  display: block;
  color: #a3a3a3;
  letter-spacing: -0.5px;
}

.tvn_hg h1 {
  text-align: center;
}

.tvn_hg_nv {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 20px;
  background: #fff;
  height: 55px;
  overflow: hidden;
  z-index: 101;
}

.tvn_hg_nv.is_opn {
  border-bottom: 3px solid #fc0000;
}

.tvn_hg_nv .tvn_inr:after {
  display: block;
  clear: both;
  content: "";
}

.tvn_hg_nv .nv_lst {
  float: left;
  margin-left: -16px;
  font-size: 16px;
}

.tvn_hg_nv .nv_lst:after {
  display: block;
  clear: both;
  content: "";
}

.tvn_hg_nv .nv_lst > li {
  position: relative;
  float: left;
}

.tvn_hg_nv .nv_lst > li > a {
  display: block;
  position: relative;
  padding: 0 16px;
  line-height: 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: -0.3px;
  color: #000;
}

.tvn_hg_nv .nv_lst .is_on > a:after {
  position: absolute;
  bottom: 0;
  left: 14px;
  right: 14px;
  background: #fc0000;
  height: 3px;
  content: "";
}

.tvn_hg_nv .nv_lst .is_on .nv_dtl {
  z-index: 10;
}

.tvn_hg_nv .nv_dtl {
  display: none;
  position: absolute;
  top: 54px;
  padding: 15px 0;
  font-size: 13px;
  white-space: nowrap;
}

.tvn_hg_nv .nv_dtl li {
  margin: 8px 0;
}

.tvn_hg_nv .nv_sd {
  float: right;
  margin-top: 15px;
  font-size: 0;
}

.tvn_hg_nv .nv_sd a {
  display: inline-block;
  margin-left: 11px;
  vertical-align: middle;
}

.tvn_hg_nv .nv_sd .bt_air {
  margin-left: 26px;
  padding: 0 12px;
  background: #e32323;
  line-height: 25px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
}

.tvn_bg_nv {
  position: absolute;
  left: 0;
  right: 0;
  height: 0;
  margin-top: 1px;
  background: #fff;
  min-width: 1200px;
  overflow: hidden;
}

.tvn_bg_nv:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ef0329;
  height: 3px;
  content: "";
}

.tvn_fg {
  padding: 28px 0 102px;
  background: #fafafa;
  text-align: center;
}

.tvn_fg_mn {
  display: inline-block;
  font-size: 14px;
  overflow: hidden;
}

.tvn_fg_mn li {
  float: left;
  margin: 0 7px;
}

.tvn_fg_mn a {
  color: #707070;
}

.tvn_fg_mn a strong {
  color: #000;
}

.tvn_fg_inf {
  display: block;
  margin: 28px auto 0;
  width: 820px;
  color: #707070;
}

.tvn_fg_inf li {
  display: inline-block;
  margin: 4px;
}

.tvn_fg_inf address {
  display: inline-block;
}

.tvn_fg_inf .lnk {
  color: #666;
}

.tvn_fg_inf .lnk:hover {
  text-decoration: underline;
}

.tvn_fg_lg {
  margin: 28px auto 0;
}

.tvn_bn {
  margin: 10px 0;
  height: 490px;
}

.tvn_bn .slick-prev,
.tvn_bn .slick-next {
  width: 50px;
  height: 60px;
  background: url("../img/tvn/ic_slider.png") no-repeat;
}

.tvn_bn .slick-next {
  background-position: -50px 0;
}

.tvn_bn_sb {
  margin: 40px 0;
  font-size: 0;
}

.tvn_bn_sb a {
  display: inline-block;
  vertical-align: middle;
}

.tvn_bn_sb img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.tvn_tdy {
  margin: 10px 0;
  overflow: hidden;
}

.tvn_tdy_tt {
  float: left;
  margin-right: 10px;
  border: 7px solid #d2d2d2;
  padding: 16px 22px 0;
  width: 155px;
  height: 132px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tvn_tdy_tt h2 {
  line-height: 1.3;
  font-size: 22px;
  font-weight: normal;
}

.tvn_tdy_tt .bt_lnk {
  display: block;
  margin-top: 15px;
  color: #777;
  font-size: 11px;
}

.tvn_tdy_tt .bt_lnk:after {
  display: inline-block;
  margin: -3px 0 0 5px;
  border: solid #666;
  border-width: 1px 1px 0 0;
  width: 4px;
  height: 4px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  vertical-align: middle;
  content: "";
}

.tvn_tdy_tt .bt_lnk:hover {
  color: #000;
}

.tvn_tdy ol {
  border-bottom: 1px solid #d2d2d2;
  overflow: hidden;
}

.tvn_tdy li {
  float: left;
  border-top: 3px solid #d9d9d9;
  width: 20%;
  text-align: center;
}

.tvn_tdy li:first-child a {
  border-left: 0;
}

.tvn_tdy li.is_on {
  border-top-color: #ff4e4e;
}

.tvn_tdy li.is_on time {
  color: #fc0f0f;
}

.tvn_tdy li.is_on .tt:before {
  display: inline-block;
  border-radius: 50%;
  background: #ff0000;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  font-size: 11px;
  content: "본";
  vertical-align: top;
}

.tvn_tdy li a {
  display: block;
  border-left: 1px solid #eee;
  height: 129px;
}

.tvn_tdy li .hd {
  display: block;
  margin-bottom: 6px;
  background: #f8f8f8;
  height: 33px;
  line-height: 33px;
}

.tvn_tdy li time {
  font-size: 14px;
  font-weight: bold;
  color: #888;
}

.tvn_tdy li img {
  max-width: 100%;
  width: auto;
  height: 50px;
}

.tvn_tdy li .tt {
  display: block;
  margin-top: 7px;
  padding: 0 8px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tvn_bt_mr {
  position: absolute;
  top: 13px;
  right: 0;
  color: #555;
  letter-spacing: -1px;
  font-size: 13px;
}

.tvn_bt_mr:after {
  display: inline-block;
  margin: -2px 0 0 3px;
  border: solid #333;
  border-width: 1px 1px 0 0;
  width: 5px;
  height: 5px;
  vertical-align: middle;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  content: "";
}

.tvn_sg {
  margin-top: 38px;
}

.tvn_sg:after {
  display: block;
  clear: both;
  content: "";
}

.tvn_sns {
  font-size: 0;
  text-align: center;
}

.tvn_sns a {
  display: inline-block;
  margin: 4px 6px;
  width: 53px;
  height: 53px;
  text-indent: -9999px;
  background: url("../img/tvn/ic_sns.png") no-repeat;
  background-size: auto 53px;
}

.tvn_sns .ic_youtb {
  background-position: 0px 0;
}

.tvn_sns .ic_fbook {
  background-position: -53px 0;
}

.tvn_sns .ic_insta {
  background-position: -106px 0;
}

.tvn_sns .ic_nvtv {
  background-position: -159px 0;
}

.tvn_sns .ic_twt {
  background-position: -212px 0;
}

.tvn_sns .ic_nvpost {
  background-position: -265px 0;
}

.tvn_sns .ic_tvpot {
  background-position: -318px 0;
}

.tvn_sns .ic_kakao {
  background-position: -371px 0;
}

.tvn_lft {
  float: left;
  width: 880px;
}

.tvn_gr {
  position: relative;
}

.tvn_gr + .tvn_gr {
  margin-top: 28px;
}

.tvn_tt {
  margin-bottom: 18px;
  font-size: 24px;
  font-weight: normal;
}

.tvn_glr {
  margin: -4px -10px;
  overflow: hidden;
}

.tvn_glr li {
  float: left;
  margin: 4px 10px;
  width: 205px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tvn_glr .thmb {
  position: relative;
  height: 115px;
}

.tvn_glr .thmb .time {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 6px;
  background: #000;
  height: 18px;
  line-height: 18px;
  color: #fff;
}

.tvn_glr .thmb img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.tvn_glr .thmb:after {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.tvn_glr .inf {
  padding: 10px 0;
  height: 88px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tvn_glr .inf p {
  color: #636363;
  font-size: 14px;
}

.tvn_glr .txt_inf {
  padding: 20px 15px;
  height: 219px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tvn_glr .txt_inf .tt {
  display: block;
  font-size: 16px;
}

.tvn_glr .txt_inf p {
  margin: 12px 0 24px;
  line-height: 22px;
  max-height: 110px;
  color: #636363;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

.tvn_glr .dsc {
  line-height: 20px;
  height: 40px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

.tvn_glr .sbj {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tvn_glr .tag {
  display: block;
  margin-top: 10px;
  color: #2270ac;
}

.tvn_glr.t02 {
  margin: -10px;
}

.tvn_glr.t02 li {
  margin: 10px;
  border: 1px solid #ebebeb;
}

.tvn_glr.t02 .thmb {
  height: 131px;
}

.tvn_glr.t02 .inf {
  padding: 17px 15px;
}

.tvn_pgm {
  margin: 0 -10px;
  overflow: hidden;
}

.tvn_pgm li {
  float: left;
  margin: 0 10px;
  width: 160px;
}

.tvn_pgm .thmb {
  height: 228px;
}

.tvn_pgm .thmb img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.tvn_pgm .inf {
  padding: 12px 0;
}

.tvn_pgm .tt {
  display: block;
  font-size: 18px;
}

.tvn_pgm .dsc {
  margin-top: 12px;
  font-size: 14px;
}

.tvn_pgm .tt,
.tvn_pgm .dsc {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tvn_pgm .tag {
  display: block;
  margin-top: 6px;
  color: #a9a9a9;
  font-size: 14px;
}

.tvn_etc {
  margin-top: 38px;
  border: 1px solid #eee;
}

.tvn_etc .tvn_inr {
  position: relative;
  padding-right: 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tvn_etc_ntc {
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  white-space: nowrap;
}

.tvn_etc_ntc h2 {
  float: left;
  margin-right: 15px;
  font-weight: normal;
  font-size: 14px;
}

.tvn_etc_ntc p {
  color: #9f9f9f;
  font-size: 13px;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tvn_etc_fml {
  position: absolute;
  top: 8px;
  right: 0;
}

.tvn_etc_fml .bt {
  display: block;
  position: relative;
  border: 1px solid #dedede;
  padding: 0 52px 0 10px;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
}

.tvn_etc_fml .bt:after {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -5px;
  border: solid #999;
  border-width: 0 1px 1px 0;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  content: "";
}

.tvn_etc_fml .bt.is_on:after {
  margin-top: -1px;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

.tvn_etc_fml .ly_inr {
  float: left;
  margin-left: 8px;
}

.ly_bt_dtl {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 33px;
  border: 1px solid #dedede;
  padding: 10px 0 6px;
  background: #fff;
  line-height: 1.3;
  max-height: 298px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: auto;
}

.ly_bt_dtl .tt {
  display: block;
  margin-bottom: 4px;
  padding: 0 10px;
}

.ly_bt_dtl .tt ~ .tt {
  margin-top: 10px;
}

.ly_bt_dtl a {
  display: block;
  padding: 4px 15px;
  color: #4c4c4c;
  word-break: break-all;
}

.ly_bt_dtl a:hover {
  background: #f8f8f8;
}

.tvn_sd {
  float: right;
  width: 270px;
}

.tvn_sd_tt {
  margin-bottom: 20px;
  height: 40px;
  line-height: 40px;
  border-bottom: 2px solid #333;
  font-size: 18px;
}

.tvn_sd_gr {
  position: relative;
  margin: 20px 0;
}

.tvn_sd_tvng {
  overflow: hidden;
  text-align: center;
}

.tvn_sd_tvng a {
  float: left;
  width: 50%;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-weight: bold;
  font-size: 11px;
}

.tvn_sd_tvng .bt_live {
  background: #494949;
}

.tvn_sd_tvng .bt_prg {
  background: #cc0000;
}

.tvn_sd_pck {
  margin-top: 2px;
}

.tvn_sd_pck .hd {
  height: 70px;
  font-size: 13px;
  background: url("../img/tvn/bg_pick.png") no-repeat;
}

.tvn_sd_pck .lst {
  position: relative;
  margin: -6px 10px 0;
}

.tvn_sd_pck .lst:after {
  position: absolute;
  top: 88px;
  left: 50%;
  margin-left: -14px;
  border-radius: 50%;
  border: 2px solid #ef0329;
  background: #fff;
  width: 24px;
  height: 24px;
  line-height: 24px;
  color: #ef0329;
  content: "VS";
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

.tvn_sd_pck .lst .sbj {
  padding: 0 5px;
  line-height: 16px;
}

.tvn_sd_pck .lst .pick {
  margin: 10px -5px 0;
  overflow: hidden;
}

.tvn_sd_pck .lst .pick li {
  float: left;
  padding: 0 5px;
  font-size: 14px;
}

.tvn_sd_pck .lst .pick input {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.tvn_sd_pck .lst .pick input:checked ~ label:before {
  background: #ef0329;
}

.tvn_sd_pck .lst .pick label {
  display: block;
  position: relative;
}

.tvn_sd_pck .lst .pick label:before {
  position: absolute;
  top: 3px;
  right: 3px;
  border-radius: 50%;
  background: #d2d2d2;
  width: 19px;
  height: 19px;
  content: "";
}

.tvn_sd_pck .lst .pick label:after {
  position: absolute;
  top: 6px;
  right: 9px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  width: 4px;
  height: 8px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  content: "";
}

.tvn_sd_pck .lst .thmb {
  width: 120px;
  height: 120px;
  font-size: 0;
}

.tvn_sd_pck .lst .thmb:after {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.tvn_sd_pck .lst .thmb img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.tvn_sd_pck .lst .tt {
  display: block;
  margin-top: 8px;
}

.tvn_sd_pck .bt_sbmt {
  display: block;
  position: relative;
  margin-top: 20px;
  background: #ef0329;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  outline: none;
}

.tvn_sd_pck .bt_sbmt:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 3px solid #ef0329;
  content: "";
}

.tvn_sd_pck .bt_sbmt:after {
  position: absolute;
  top: -20px;
  right: 0;
  border-style: solid;
  border-width: 0 0 20px 20px;
  border-color: transparent transparent #ef032a transparent;
  width: 0;
  height: 0;
  content: "";
}

.tvn_sd_pck .bt_sbmt:hover:before {
  -webkit-animation: 0.5s 1 buttonScale linear;
          animation: 0.5s 1 buttonScale linear;
}

@-webkit-keyframes buttonScale {
  0% {
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(1.06, 1.4);
    transform: scale(1.06, 1.4);
    opacity: 0;
  }
}

@keyframes buttonScale {
  0% {
    opacity: 0.8;
  }
  100% {
    -webkit-transform: scale(1.06, 1.4);
    transform: scale(1.06, 1.4);
    opacity: 0;
  }
}

.tvn_sd_evt li {
  margin: 20px 0;
}

.tvn_sd_evt .thmb {
  height: 108px;
  font-size: 0;
}

.tvn_sd_evt .thmb:after {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.tvn_sd_evt .inf {
  padding-top: 12px;
}

.tvn_sd_evt .sbj {
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tvn_sd_evt .date {
  display: block;
  margin-top: 8px;
  color: #999;
  font-size: 11px;
}

.tvn_sd_txt li {
  margin: 16px 0;
  list-style: circle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tvn_sd_txt a {
  position: relative;
  padding-left: 18px;
  color: #636363;
  font-size: 13px;
}

.tvn_sd_txt a:before {
  position: absolute;
  left: 3px;
  top: 50%;
  margin-top: -2px;
  border-radius: 50%;
  background: #c9c9c9;
  width: 3px;
  height: 3px;
  content: "";
}
