$page:main;

@import "./control/basic";


html{scroll-behavior:smooth;}
/* Layout */
.main{
    // .main_wrp
    &_wrp{font-family:sans-serif; -webkit-overflow-scrolling: touch;}

    // .main_mn
    &_mn{
        position:absolute; top:0; left:0; right:0; bottom:0; clip:rect(0 auto auto 0); z-index:10;
        // .main_mn_fx
        &_fx{position:fixed; top:28px; left:0; right:0; font-weight:bold;}
        // .main_mn_inr
        &_inr{
            margin:0 auto; padding:0 40px; max-width:1120px;
            &:after{@include clearfix;}
        }
        // .main_mn_lg
        &_lg{border-radius:5px; padding:0 10px; background:#fff; color:#fff; font-size:3em;}
        // .main_mn_bt
        &_bt{float:right; margin-top:15px; color:inherit; font-size:1.5em;}
    }

    // .main_inr
    &_inr{margin:0 auto; padding:0 40px; max-width:1120px;}

    // .main_sg
    &_sg{
        position:relative; height:100vh;
        .main_inr{display:flex; height:100%; align-items:flex-end;}
        .dtl{
            position:relative; margin:68px 0; vertical-align:bottom; z-index:10; overflow:hidden;
            a{color:inherit;}
        }
        .lnk{
            display:block; transition:0.5s all; transform:translateY(-36px);
            &:hover{
                transform:translateY(0);
                .sub:before{width:40px;}
                .see_mr{
                    &:before{opacity:1;}
                    &:after{width:20px;}
                }
            }
        }
        .sub{
            display:block; position:relative; margin-bottom:12px; height:24px; line-height:24px; font-size:1.5em; font-weight:600;
            &:before{display:inline-block; margin-right:10px; background:#fff; width:0; height:1px; content:""; transition:0.7s all; vertical-align:middle;}
        }
        .tt{line-height:1.2; font-size:5.33em; letter-spacing:-1px;}
        .dsc{
            margin-top:20px; line-height:1.4; font-size:1.5em; font-weight:600;
            + .dsc{margin-top:5px;}
        }
        .see_mr{
            display:inline-block; position:relative; margin-top:25px; padding-right:35px; font-size:1.5em; font-weight:bold;
            // 화살표 표시
            &:before{position:absolute; content:""; right:0; top:50%; margin-top:-2px; border-style:solid; border-width:1px 1px 0 0; border-color:#fff; width:6px; height:6px; -webkit-transform:rotate(45deg); transform:rotate(45deg); transition:0.2s all; opacity:0;}
            &:after{position:absolute; content:""; top:50%; right:0; margin-top:1px; background:#fff; width:0; height:1px; transition:0.3s all;}
        }
        // 각 영역별 색상 변경
        &.t_{
            // .t_main
            &main{
                background:#5214ff; color:#fc589f;
                .main_inr{@include background($img:bg_main, $target:after, $pos:100% 100%, $bsize:50%);}
                .main_mn_lg{background:#fc589f; color:#5214ff;}
                .tt{font-size:11.67em; letter-spacing:-3px;}
                .dsc{margin-top:15px;}
            }
            // .t_intro
            &intro{
                background:#9f79fa; color:#fff;
                @include background($pseudo:true, $target:after, $img:bg_intro, $pos:100% 50%, $bsize:contain){
                    position:absolute; top:0; left:0; right:0; bottom:0; background-attachment:fixed;
                }
                .main_mn_lg{color:#9f79fa;}
            }
            // .t_project
            &project{
                background:#ffbc42; color:#5214ff;
                .main_inr{@include background($img:bg_spread01, $target:after, $pos:100% 100%, $bsize:50%);}
                .main_mn_lg{color:#ffbc42}
                .main_mn_lg,
                .sub:before,
                .see_mr:after{background:#5214ff;}
                .see_mr:before{border-color:#5214ff;}
            }
            // .t_portfolio
            &portfolio{
                background:#40296d; color:#fff;
                @include background($pseudo:true, $target:after, $img:bg_work, $pos:100% 50%, $bsize:contain){
                    position:absolute; top:0; left:0; right:0; bottom:0; background-attachment:fixed;
                }
                .main_mn_lg{color:#40296d;}
            }
            // .t_blog
            &blog{
                background:#ff3a49; color:#1b1363;
                .main_inr{@include background($img:bg_spread02, $target:after, $pos:100% 100%, $bsize:50%);}
                .main_mn_lg{color:#ff3a49}
                .main_mn_lg,
                .sub:before,
                .see_mr:after{background:#1b1363;}
                .see_mr:before{border-color:#1b1363;}
            }
            // .t_contact
            &contact{
                background:#fdabd1; color:#fff;
                @include background($pseudo:true, $target:after, $img:bg_contact, $pos:100% 50%, $bsize:contain){
                    position:absolute; top:0; left:0; right:0; bottom:0; background-attachment:fixed;
                }
                .main_mn_lg{color:#fdabd1;}
            }
        }
    }

    // .main_sd : 사이드 메뉴
    &_sd{
        position:fixed; top:0; bottom:0; right:0; left:0; background:rgba(0,0,0,.8); z-index:100; text-align:center;
        &_inr{position:absolute; top:50%; left:0; right:0; transform:translateY(-50%);}
        // .main_sd_tt
        &_tt{color:#fff; font-size:14vh;}
        // .main_sd_mn
        &_mn{
            display:inline-block; margin-top:5vh; text-align:left; font-size:7vh;
            li{margin:2vh 0;}
            a{
                display:inline-block; color:#fff; transition:0.5s all;
                &:before{display:inline-block; margin-right:20px; background:#fff; width:5px; height:5px; vertical-align:middle; content:""; transition:1s all;}
                &:hover{
                    color:#ff3a49;
                    &:before{background:#ff3a49;}
                }
            }
        }
        .bt_clse{
            position:absolute; top:30px; right:80px; font-size:0;
            &:after{display:block; color:#fff; font-size:10vh; content:"×";}
        }
    }

    // .main_ld : 로딩화면
    &_ld{
        position:fixed; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,.9); z-index:100; text-align:center;
        &:after{display:inline-block; height:100%; vertical-align:middle; content:"";}
        // .main_ld_txt
        &_txt{display:inline-block; color:#fff; font-size:3em; font-weight:bold; vertical-align:middle;}
    }

    // .main_fg
    &_fg{
        padding:28px 0; background:#141221; overflow:hidden;
        .main_inr{display:flex; align-items:center; justify-content:space-between;}
        // .main_fg_lg
        &_lg{display:inline-block; border-radius:5px; padding:0 10px; background:rgba(255,255,255,.3); height:48px; line-height:48px; color:#141221; font-size:3em;}
        // .main_fg_inf
        &_inf{
            float:right;
            .dsc{color:#999;}
        }
    }
}

// background-attachment 버벅임 해결
/* Edge */
@supports (-ms-ime-align:auto){
    html{height:100%; overflow:hidden;}
    body{position:relative; height:100%; overflow:auto;}
}
/*Ie 10/11*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
    html{height:100%; overflow:hidden;}
    body{height:100%; overflow:auto;}
}

// 로고, 메뉴 아이콘 ios clip처리
@media screen and (-webkit-min-device-pixel-ratio: 1.5){
    .main_mn{
        clip:auto;
        -webkit-clip-path:inset(0); clip-path:inset(0);
    }
    
}

/* Media Query */
@media screen and (max-width:640px){
    .main_sg{
        // .t_intro, .t_portfolio, .t_contact
        &.t_{
            &intro:after,
            &portfolio:after,
            &contact:after{background-attachment:initial; background-size:170%;}
        }
    }
    .main_inr{padding:0 20px;}
    .main_sg{
        &.t_main .tt{font-size:9.5em;}
        .lnk{
            transform:translateY(0);
            .sub:before{width:40px;}
            .see_mr{
                &:before{opacity:1;}
                &:after{width:20px;}
            }
        }
    }
    .main_sd .bt_clse{right:30px;}
}
@media screen and (max-width:640px) and (min-width:321px){
    body{font-size:11px;}
}
@media screen and (max-width:320px){
    body{font-size:10px;}
    .main_sg{
        .dtl{margin:40px 0;}
    }
}