@charset "utf-8";
/* 제주고딕서체 */
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

/* reset */
body {position:relative; margin:0; padding:0; font-family:"Nanum Gothic",Dotum,arial,sans-serif; font-weight:normal; font-size:12px; color:#212121; -webkit-text-size-adjust:none;}
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote {margin:0; padding:0; -webkit-text-size-adjust:none;}
th,td, input,textarea,select {font-size:12px; color:#212121; font-family:"Nanum Gothic",Dotum,arial,sans-serif; -webkit-text-size-adjust:none;}
th,td {word-break:break-all; word-wrap:break-word; -webkit-text-size-adjust:none;}
table {border-spacing:0; -webkit-text-size-adjust:none; border:0; table-layout:fixed;}
address,cite,code,dfn,var {font-style:normal; font-weight:normal; -webkit-text-size-adjust:none;}
em {font-style:normal; -webkit-text-size-adjust:none;}
ol, ul {list-style:none;}
abbr,acronym {border:0;}
hr {clear:both; display:none;}
legend, caption {visibility:hidden; overflow:hidden; line-height:0; width:0; height:0; margin:0; padding:0;}
img, fieldset {border:0 none;}
label {cursor:pointer;}
a {color:#212121; text-decoration:none;}
.hidden_obj {position:absolute; visibility:hidden; overflow:hidden; height:0; line-height:0; width:0; margin:0; padding:0; font:0/0 Arial;}
input, img {vertical-align:middle;}

pre {font-family:"Nanum Gothic",Dotum,arial,sans-serif; margin:0;}
button {border:0; background-color:transparent; padding:0; margin:0; cursor:pointer; font-family:"Nanum Gothic",Dotum,arial,sans-serif;}
textarea {resize:none;}
input[disabled=disabled] {background-color:#eee;}

/* html5 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}

/* skip_menu */
.skip_nav{position:relative;}
.skip_nav a{width:170px; height:20px; border:1px solid #dad0d0; display:inline-block; position:absolute; top:-45px; left:0px; background:#f9f9f9; font-size:13px; text-align:center; line-height:20px; z-index:99;}
.skip_nav a:focus{top:0px;}



/* ///////////// Main.html //////////// */
/* Layout */
.main_wrp{border:20px solid #000; min-width:320px; font-family: 'Jeju Gothic', serif; box-sizing:border-box;}
.main_inr{margin:0 auto; max-width:1260px;}

/* header */
.main_hg{padding:50px 20px 40px;}
.main_hg h1{font-size:30px;}

/* nav */
.main_nv{overflow:hidden;}
.main_nv ul{float:right; font-size:15px;}
.main_nv li{float:left;}
.main_nv li a{display:block; padding:0 12px; height:40px; line-height:40px; -webkit-transition:0.3s all; transition:0.3s all;}
.main_nv li:hover a{-webkit-transform:scale(1.2); transform:scale(1.2);}
.main_nv button{background:url(../img/ic_nvbt.png) 0 0 no-repeat; background-size:33px auto; width:33px; height:34px; text-indent:-9999px;}

/* content */
.main_bn{margin-top:20px;}
.main_bn img{display:block; width:100%; height:auto; animation:bn_scale 1s 1;}
/* 메인배너 애니메이션 효과(bn_scale) */
@keyframes bn_scale{
	0%{-webkit-transform:scale(0.3); transform:scale(0.3); opacity:0.4;}
	100%{-webkit-transform:scale(1); transform:scale(1); opacity:1;}
}
.main_sg{padding:0 15px;}
.main_gr{margin:45px 0;}
.main_tt{margin-bottom:25px; font-size:23px;}
.main_cmt{margin:35px 0; color:#777; font-size:14px; text-align:center;}

/* 포폴 리스트 */
.main_pj{margin-top:-20px; font-size:0;}
.main_pj li{display:inline-block; padding:20px 30px; width:33.3%; text-align:center; vertical-align:middle; box-sizing:border-box;}
.main_pj li a{display:block;}
.main_pj .thmb{overflow:hidden;}
.main_pj .thmb img{max-width:100%; width:auto; height:auto; -webkit-transition:0.5s all; transition:0.5s all;}
.main_pj li a:hover img{-webkit-transform:scale(1.15); transform:scale(1.15);}
.main_pj .tt{margin-top:18px; font-size:15px;}
.main_pj .dsc{margin-top:4px; line-height:1.4; color:#888; font-size:13px;}

/* Contact Me */
.main_inf{font-size:15px;}
.main_inf li{margin-top:15px;}
.main_inf .sbj{display:inline-block; margin-right:10px; min-width:90px; color:#555;}

/* footer */
.main_fg{padding:20px 0; background:#e6e6e6; text-align:center;}
.main_fg p{color:#000;}

/* 로딩 메뉴 */
.ld_bg{position:fixed; top:0; right:0; bottom:0; left:0; background:rgba(0,0,0,.4); z-index:100;}
.ld_bg .ld{position:fixed; top:50%; left:50%; margin:-30px 0 0 -30px; border:5px solid transparent; width:60px; height:60px; box-sizing:border-box; animation:ld_square 1.4s 1; text-indent:-9999px;}
@keyframes ld_square{
	25%{border-color:#fff transparent transparent transparent;}
	50%{border-color:#fff #fff transparent transparent;}
	75%{border-color:#fff #fff #fff transparent;}
	100%{border-color:#fff;}
}

/* Top Button */
.bt_top{position:fixed; bottom:25px; right:25px; background:#fff url(../img/scrollTop.png) no-repeat 10px 6px; background-size:20px 30px; width:40px; height:40px; box-shadow:2px 3px 3px rgba(0,0,0,0.3); text-indent:-9999px;}

/* Media Query */
@media screen and (max-width:640px){
	.main_wrp{border-width:10px;}
	.main_hg{text-align:center;}
	.main_nv ul{float:none; margin-top:0; text-align:center; overflow:hidden;}
	.main_nv li{padding:10px; width:50%; box-sizing:border-box;}
}
@media screen and (max-width:640px) and (min-width:376px){
	.main_pj li{width:50%;}
}
@media screen and (max-width:375px){
	.main_pj li{width:100%;}
}